/* I HATE CSS I HATE CSS I HATE CSS I HATE CSS I HATE CSS I HATE CSS I HATE CSS I HATE CSS I HATE CSS I HATE CSS I HATE CSS I HATE CSS */

:root {
  --background-color: #1f1c1c;
  --text-color: #f3f3f3;
  --footer-color: #858585;
}

body {
  background-color: var(--background-color);
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background: transparent;
  color: var(--footer-color);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  color: var(--text-color);
}